<div class="container">
        <div class="row">

            <div class="col-xs-12">
            <br>
                <h3 class="pull-left">Your Transactions</h3>
                                <nav class="navbar-right">
                                  <ul class="pagination">
                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                 </ul>
                               </nav>
                <div class="clearfix">
                
                </div>
            </div>

        </div>
    </div>


    <section class="no-pad">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">

                    <div class="content rounded">

                        <table class="table table-hover cv-basket">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Transaction ID</th>
                                    <th>Amount</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12-03-2014</td>
                                    <td>
                                        <div class="comment media">
                                            
                                            <div class="media-body">
                                                <h5 class="media-heading">Transaction is described here
                                                </h5>
                                                <p>Co-founder at Prowork</p>
                                                <span class="text-muted result-details">
                                                    <a href="" target="_blank">View Details</a> 
                                                    <!-- <a href="">Transfer to Saved CV</a> -  -->
                                                    <!-- <a href="" class="text-danger"><span class="glyphicon glyphicon-remove"></span></a> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>UBA|Web|3PWQ0001|WGH|210915131752|00008707</td>
                                    <td>₦500</td>
                                    <!--td class="text-right">
                                        <a href="" class="text-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td-->
                                </tr>
                                <tr>
                                    <td>12-03-2014</td>
                                    <td>
                                        <div class="comment media">
                                            
                                            <div class="media-body">
                                                <h5 class="media-heading">Transaction is described here
                                                </h5>
                                                <p>Co-founder at Prowork</p>
                                                <span class="text-muted result-details">
                                                    <a href="" target="_blank">View Details</a> 
                                                    <!-- <a href="">Transfer to Saved CV</a> -  -->
                                                    <!-- <a href="" class="text-danger"><span class="glyphicon glyphicon-remove"></span></a> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>UBA|Web|3PWQ0001|WGH|210915131752|00008707</td>
                                    <td>₦500</td>
                                    <!--td class="text-right">
                                        <a href="" class="text-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td-->
                                </tr>
                                <tr>
                                    <td>12-03-2014</td>
                                    <td>
                                        <div class="comment media">
                                            
                                            <div class="media-body">
                                                <h5 class="media-heading">Transaction is described here
                                                </h5>
                                                <p>Co-founder at Prowork</p>
                                                <span class="text-muted result-details">
                                                    <a href="" target="_blank">View Details</a> 
                                                    <!-- <a href="">Transfer to Saved CV</a> -  -->
                                                    <!-- <a href="" class="text-danger"><span class="glyphicon glyphicon-remove"></span></a> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>UBA|Web|3PWQ0001|WGH|210915131752|00008707</td>
                                    <td>₦500</td>
                                    <!--td class="text-right">
                                        <a href="" class="text-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td-->
                                </tr>
                                <tr>
                                    <td>12-03-2014</td>
                                    <td>
                                        <div class="comment media">
                                            
                                            <div class="media-body">
                                                <h5 class="media-heading">Transaction is described here
                                                </h5>
                                                <p>Co-founder at Prowork</p>
                                                <span class="text-muted result-details">
                                                    <a href="" target="_blank">View Details</a> 
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>UBA|Web|3PWQ0001|WGH|210915131752|00008707</td>
                                    <td>₦500</td>
                                </tr>
                                    <tr>
                                    <td>12-03-2014</td>
                                    <td>
                                        <div class="comment media">
                                            
                                            <div class="media-body">
                                                <h5 class="media-heading">Transaction is described here
                                                </h5>
                                                <p>Co-founder at Prowork</p>
                                                <span class="text-muted result-details">
                                                    <a href="" target="_blank">View Details</a> 
                                                    <!-- <a href="">Transfer to Saved CV</a> -  -->
                                                    <!-- <a href="" class="text-danger"><span class="glyphicon glyphicon-remove"></span></a> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>UBA|Web|3PWQ0001|WGH|210915131752|00008707</td>
                                    <td>₦500</td>
                                    <!--td class="text-right">
                                        <a href="" class="text-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td-->
                                </tr>
                            </tbody>
                        </table>

                         <div class="row">
                            <!--<div class="col-xs-12">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-info">Add more CVs</button>
                                    <button type="submit" class="btn btn-default">Proceed to payment &raquo;</button>
                                </div>
                            </div> -->
                            <div class="col-xs-12">
                                <nav class="navbar-right">
                                  <ul class="pagination">
                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                 </ul>
                               </nav>
                           </div>
                        </div>

                    </div>

                </div>

                

            </div>
        </div>
    </section>