.git
azure-pipelines.yml
seamlesshr-arm
tests
auth.json
get-pip.py
test.json
config/ssl
node_modules
package-lock.json
vendor
.htaccess
auth.json
Jenkinsfile
deployment/
kubernetes-production
Dockerfile2
Dockerfile3