/vendor
/storage
/node_modules
/public/storage
/bootstrap/cache
Homestead.yaml
Homestead.json
LocalValetDriver.php
.env
/.idea
/.vscode
/public_html/uploads
/config/snappy.php
/public_html/homepage
/public_html/logs
.DS_Store
